h1 {
	font-family: 'Cormorant Garamond', Georgia, serif;
	font-size: 64px;
	font-weight: 700;
	text-align: center;
}

h2,
li,
p {
	font-family: monospace;
	font-size: 14px;
}

.pumpkin-pie {
	background-color: rgb(247 166 84);
}

.pumpkin-pie h1 {
	background-color: rgb(217 114 11);
	color: rgb(89 46 4);
}

.pumpkin-pie .wrapper {
	background-color: rgb(255 255 255 / 0.3);
}
