.pumpkin-pie {
	background-color: rgb(247 166 84);
}

.pumpkin-pie h1 {
	background-color: rgb(217 114 11);
	color: rgb(89 46 4);
}

.pumpkin-pie .wrapper {
	background-color: rgb(255 255 255 / 0.3);
}
