*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(76 74 82);
	margin: auto;
	width: 50%;
}

h1 {
	background-color: rgb(255 255 255 / 0.2);
	color: rgb(16 11 33);
	font-family: 'Cormorant Garamond', Georgia, serif;
	font-size: 64px;
	font-weight: 700;
	padding: 20px;
	text-align: center;
}

h2,
li,
p {
	font-family: monospace;
	font-size: 14px;
}

img {
	display: block;
	margin: 30px auto;
}

.chicken {
	background-color: rgb(219 200 136);
}

.chicken h1 {
	background-color: rgb(230 184 34);
	color: rgb(61 49 7);
}

.chicken .wrapper {
	background-color: rgb(255 255 255 / 0.3);
}

.link-list {
	background-color: rgb(255 255 255 / 0.4);
}

.link-list li {
	border: 2px solid rgb(48 46 54);
	border-right: 0;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	list-style-type: none;
	text-align: center;
	width: 33.33%;
}

.link-list li:last-child {
	border: 2px solid rgb(48 46 54);
	width: 33.33%;
}

.link-list ul {
	font-size: 0;
}

.normal-list li {
	list-style-position: inside;
}

.pumpkin-pie {
	background-color: rgb(247 166 84);
}

.pumpkin-pie h1 {
	background-color: rgb(217 114 11);
	color: rgb(89 46 4);
}

.pumpkin-pie .wrapper {
	background-color: rgb(255 255 255 / 0.3);
}

.salmon {
	background-color: rgb(237 133 121);
}

.salmon h1 {
	background-color: rgb(217 82 67);
	color: rgb(74 15 8);
}

.salmon .wrapper {
	background-color: rgb(255 255 255 / 0.3);
}

.wrapper {
	background-color: rgb(255 255 255 / 0.4);
	padding: 20px;
}
